<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Upson Partners Not Found</title>
    <meta name="description" content="That's probably the wrong URL I don't know">
    <meta name="author" content="Upon Partners">
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="theme-color" content="rgb(255 255 255)">
    <link rel="icon" href="/assets/upson-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <div class="forohfor">
       <div class="rapper">
        <h1>Upson Partners Not Found</h1>
       </div>
       <div class="footer">
         <a href="">Back to the site →</a>
         <div class="video-rapper">
          <video preload autoplay playsinline muted>
             <source src="/assets/error-footer-peak.mp4" type="video/mp4" />
             </video>
         </div>
       </div>
   </div>
  </body>
</html>