<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Upson Partners</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website of Rafael Conde{%- endif -%}">
    <meta name="author" content="Upson Partners">
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="theme-color" content="rgb(255 255 255)">
    <link rel="icon" href="/assets/upson-logo.png" type="image/x-icon" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    {% if stylesheet %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}"/>
    {% else %}
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css">
    {% endif %}


  </head>
  <body>
    {{ content | safe }}
    {% set js %}{% include "js/scripts.js" %}{% endset %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
