.boobyTrack {
	font-family: ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	position: relative;
	z-index: 1;
	background: #F4D7C7;
	color: #5A3730;

	.tint-color {
		color: #AF3B52;
	}
  
  	.wave-bottom {
	z-index: 1;
	
	path {
		fill: #fff;
	}
  }

  .external-link:hover {
	border-color: #AF3B52;
  }

  .main-content-wrapper {
	align-items: center;
	padding-bottom: 30px;
	min-height: 730px;
	margin-top: -40px;
	z-index: 2;

	@media (max-width: 975px) {
	  flex-direction: column;
	  align-items: center;
	  min-height: 0;
	  margin-top: 64px;
	  padding-bottom: 654px;
	}

	@media (max-width: 520px) {
	  min-height: 790px;
	  padding-bottom: 650px;
	}
  }
  
  .viewport {
	  background-image: url(/assets/boobyTrack-screenshot.png);
	  background-size: cover;
  }

  .showcase {
	position: relative;
	
	.video-card {
		position: absolute;
		width: auto;
		height: 477px;
		overflow: hidden;
		top: -267px;
		right: -286px;
		z-index: 2;
		/* border-radius: 56px; */
		
		transform: scale(.8, .8) rotate(10deg);
		/* box-shadow: 0px 4px 24px 2px rgba(14, 30, 37, 0.16); */
		z-index: 2;
		
		&:hover {
			transform: scale(.8, .8) translateY(-16px) rotate(2deg);
		} 
		
		video {
			position: relative;
			padding: 8px 8px 4px 8px;
			border-radius: 60px;
			width: 320px;
		}

		@media (max-width: 469px) {
			height: 427px;
			overflow: hidden;
			top: 11px;
			right: -323px;
		  }


		  @media (max-width: 975px) {
			top: 11px;


		  }
		

	}
  }
  
  .card {
	  position: absolute;
	  background-size: cover;
	  
	  &:nth-child(3) {
			top: 67px;
			left: -397px;
			height: 331px;
			width: 498px;
		  	/* border-radius: 22%; */
		 	background-image: url(/assets/jenny-ueberberg-Kmng_fCg0Ko-unsplash.jpg);
		 	 background-color: transparent;

			  @media (max-width: 469px) {
				top: 312px;
				left: -305px;
			  }



			  @media (max-width: 975px) {
				top: 327px;
			
			  }

			 
		  
		}
  }	
}